@model IEnumerable<Songs_and_Performances.Models.Song>
@{
    ViewData["Title"] = "Index";
}

<h1>Songs</h1>

<p>
    <a style="color:indianred" asp-action="Create">Add new song</a>
</p>

<div class="form-actions no-color">
    <form asp-action="Index" method="get">
        <p>
            Find by Name: <input type="text" name="SearchStringN" value="@ViewData["CurrentNameFilter"]" /><br /><br />
            Find by Genre: <input type="text" name="SearchStringG" value="@ViewData["CurrentGenreFilter"]" />
        </p>
        <p><br />
            <input type="submit" value="Search" style="width:200px;height:40px" class="btn btn-outline-danger" /> |
            <a style="color:indianred" asp-action="Index">Back to Full List</a>
        </p>
    </form>
</div>
    

<table class="table">
    <thead>
        <tr>
            <th>
                <a style="color:black" asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Name)</a>
            </th>
            <th>
                <a style="color:black" asp-action="Index" asp-route-sortOrder="@ViewData["GenreSortParm"]">@Html.DisplayNameFor(model => model.Genre)</a>
            </th>
            <th>
                <a style="color:black" asp-action="Index" asp-route-sortOrder="@ViewData["DurationSortParm"]">@Html.DisplayNameFor(model => model.Duration)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>

                <td>
                    <a style="color:indianred" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a style="color:indianred" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a style="color:indianred" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>